# Entornos
.venv/
env/
*.conda
*.env

# Archivos de Anaconda
*.anaconda_backup

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Datos y resultados
/data/
reports/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/


# Mantener visibles las carpetas vacías con .gitkeep
!data/.gitkeep
!artifacts/.gitkeep
!reports/.gitkeep